@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
  font-family: 'Open Sans', sans-serif
  margin: 0

.header
  padding: 26px 0
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75)
  &__nav
    float: right
    margin: 20px
    padding: 0 15px 0 0

.container
  padding: 0 20px

.nav
  &__item
    float: right
    margin-right: 49px
    list-style-type: none
  &__link
    font:
      weight: bold
      size: 20px
    text-decoration: none
    letter-spacing: .2px
    color: #5F3723

.section
  color: #5F3723
  font-size: 18px
  padding: 70px 20px
  margin: 70px 0
  &__left
    float: left
    display: inline-block
  &__right
    margin-left: 70px
    display: inline-block
  &__about
    color: #fff
    background: url("./images/back.jpg") no-repeat
      size: cover
    height: 500px

h2.section__text
  font-size: 38px
  text-align: right
  padding: 130px

h3.section__text
  font-size: 28px
  text-align: left
  padding: 90px

.team
  &__image
    width: 200px
    height: 200px
    border: 3px solid #795548
      radius: 100px
    box-shadow: 0 0 7px #666
  &text
    margin-top: 30px
    font:
      weight: bold
      size: 28px

.section
  &__team
    color: #5F3723
    width: 100%
  &__benefit
    text-align: center
    padding: 110px 0
    width: 33%
    display: inline-block

.footer
  height: 170px
  font-weight: bold
  padding: 10px 20px
  background: #5F3723 linear-gradient(to right, #f3e2c7 0%, #b68d4c 0%, #5f3723 100%)
  &__text
    margin-top: 70px
    float: left
    color: #fff

.menu
  &__ul
    margin-top: 10px
    float: right
    padding-right: 46px
  &__item
    margin: 20px 0
    list-style-type: none
  &__nav
    text-decoration: none
    font-size: 18px
    letter-spacing: .2px
    color: #fff